<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="font-family:Arial;font-size:10pt">
        Hi Everyone,<br />
        <p>Punch List has been generated, with details as below:</p>
        <p><b>PUNCHLIST ITEM ID: </b>{punchlistid}</p>
        <p><b>JOB NUMBER: </b>{jobnumber}</p>
        <p><b>JOB NAME: </b>{jobname}</p>
        <p><b>JOB PHONE: </b>{jobphone}</p>
        <p><b>JOB CONTACT: </b>{contact}</p>
        <p><b>CONTACT PERSON: </b>{salesman}</p>
        <p><b>COMPLAINT: </b>{complaint}</p>
        <br />
        <p><a href="http://atlassql01/laborEstimator/punchlist/itemview.asp"><u>Click Here</u></a> to view entire PunchList</p>
        <br /><br />
        Thanks,<br />
        Punchlist User
        Atlas Outdoor
        30 Northeast Industrial Road | Branford CT 06405

    </div>
</body>
</html>